
  .footer{
    margin-top: 80px;
  }
body{
    background-color: #ececec !important;
}
.collection {
    width: 100%;
    height:max-content;
    font-family: Arial, sans-serif;
    background-color: #ececec;
    margin: 0;
    padding: 0;
}

.colcontainer {
    
    width: 90%;
    margin: auto;
    overflow: hidden;
    background-color: #ececec;
}
.collections {
    padding-top:60px;
    background-color: #ececec;
    text-align: center;
    position: relative;
}
.collections h2{
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 800;
    font-family: Supreme variable;
}
.slider-wrapper {
    position: relative;
    overflow: hidden;
}
.slider {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.slider::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}
.slider .item {
    flex: 0 0 auto;
    width: 380px;
    height: 250px;
    margin-right: 10px;
    background-color: #ccc;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}
.slider .item:hover {
    background-color: #bbb;
}
.slider .item.active {
    background-color: #888;
}
.grid {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    /* justify-content: space-evenly; */
    margin-top: 30px;
}
.grid .item {
    width: 400px;
    height: 250px;
    background-color: #ccc;
    border-radius: 10px;
}
.colbutton {
    width:45px;
    height: 45px;
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    background-color: black;
    color:rgb(210, 210, 210);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 20%;
    user-select: none;
}
.colbutton:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(33, 33, 33);
}
.colbutton.left {
    left: 0;
}
.colbutton.right {
    right: 0;
}

 /* .head{
    max-width:101% !important;
   
}
.head h4{
    margin-bottom:40px;
}
.hnavi li{
    margin-bottom: 10px !important;
}
.hnavi{
    width: 96.5% !important;
    height:40px !important;
}
.hdropdown-content a {
    height: 1.6rem !important;;
}  */

/* something */
@keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}


.collogos{
    height: 30px;
    margin-top: 30px;
    position: relative;
    overflow: hidden;
    padding: 25px 0;
    background-color:#ececec;
    /* box-shadow:0 0px 10px 0px rgba(0, 0, 0, 0.166); */
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}
.collogos::before,.collogos::after{
    position:absolute;
    top: 0;
    width:250px;
    height:100%;
    background:linear-gradient(to left,rgba(252, 250, 250, 0),#ececec);
    content: "";
    z-index: 2;
}
.collogos::after{
    right: 0;
    background:linear-gradient(to right,rgba(0, 0, 0, 0),#ececec);
 }

.collogos::before{
left: 0;
background:linear-gradient(to left,rgba(0, 0, 0, 0),#ececec);
}
/* .collogos:hover .collogo-slide{
    animation-play-state: paused;
}
.collogo-slide{
    display: inline-block;
    animation:35s slide infinite linear ;
    align-items: center;
} */

.collogos:hover .infitxt{
    animation-play-state: paused;
}
.infitxt{
    display: inline-block;
    animation:20s slide infinite linear ;
    align-items: center;
    font-weight: 600;
    font-size: 22px;
    font-family: panchang variable;
    margin:0px 100px 0 0;
}

.collogo-slide img{
    height: 40px;
    width: 40px;
    margin:-28px 100px 0 0;
}
